*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('/img/fundo.jpg');
    background-size: cover;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.overlay{
    background-color: rgba(0, 0, 0.4);
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

header{
    padding: 20px 50px;
    position: relative;
    z-index: 2;
}

.logo img{
    width: 200px;
}

.login-container{
    z-index: 2;
    border-radius: 4px;
    color: rgba(black);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 450px;
    padding: 60px;
}

h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 28px;
}

input{
    background-color: black;
    border: 0;
    border-radius: 4px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 16px 20px;
    width: 100%;
    font-size: 16px;
}

input:focus{
    background: black;
    outline: none;
}

button{
    
}